//COLORS

$color-white: #fff;
$color-grey-light: rgb(199, 199, 199);
$color-black: #000;

// Palette used: https://colorhunt.co/palette/129199
$color-background: #f7f4e3;
$color-navbar: #d2e1c8;
$color-card-info: #fee4a6;

//FONT
$default-font-size: 1.4rem;
$default-font-list-element-size: 1.2rem;
